menu {
    width: 100px;
    height: 100%;
    background: #4E31AA;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

menu img {
    width: 5em;
    padding-top: 30px;
}

menu ul {
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

menu ul li {
    list-style: none;
    margin: 20px 0;
    position: relative;
    width: 100%;
    text-align: center;
}

menu ul li a {
    font-size: 24px;
    color:#F7F7F8;
    text-decoration: none;
    transition: all 0.3s;
}

menu ul li a::before {
    position: absolute;
    content: "";
    background: #3795BD;
    top: 5px;
    left: -10px;
    width: 0px;
    height: 20px;
    border-radius: 50%;
}

menu ul li:hover a{
    color: hsl(198, 55%, 48%);
}

menu ul li:hover a::before {
    width: 20px;
    transition: all 0.3s;
}

menu ul li.active a {
    color: #3795BD;
}

menu ul li.active a::before {
    width: 20px;
    transition: all 0.3s;
}

#lastMenu {
    margin-top: auto;
}

@media only screen and (max-width: 525px){
    menu {
        min-width: 60px;
        width: 60px;
    }

    menu img {
        width: 3em;
    }
}